<div class="footer">
  <div class="logo">
    <a routerLink="home">
      <img src="assets/images/white-logo-babala.png" alt="babala-logo">
    </a>
  </div>
  <div class="social-medias">
    <a href="https://www.youtube.com/@BaBaLaTV" target="_blank">
      <i class="fa fa-youtube-play"></i>
    </a>
    <a href="https://twitter.com/BabalaTv" target="_blank">
      <i class="fa fa-twitter"></i>
    </a>
    <a href="https://www.instagram.com/babalativi/" target="_blank">
      <i class="fa fa-instagram"></i>
    </a>
  </div>
  <div class="copyright">
    All Rights Reserved © {{ year }} BaBaLa | Developed by <a href="https://iamumut.com/" target="_blank">Umut Can Arda</a>
  </div>
</div>
