<div class="container mt-5">
  <div class="row d-flex justify-content-center">
    <div class="col-md-7">
      <div class="card p-3 py-4">
        <div class="text-center">
          <img src="/assets/images/umut.jpeg" width="100" class="rounded-circle">
        </div>
        <div class="text-center mt-3">
          <span class="bg-secondary p-1 px-4 rounded text-white">FlySquare</span>
          <h5 class="mt-2 mb-0">Umut Can Arda</h5>
          <span>Full-Stack Developer</span>
          <div class="px-4 mt-1">
            <p class="fonts">I was born in 2002 in Yalova/TURKEY. I have been continuing the adventure that I started with Php and Mysql at the age of 14 for 6 years. I am actively developing myself and doing various projects on React, React Native, Laravel, Php, SQL, MongoDB, Javascript, and Node.JS. In these 6 years, I have developed myself using languages such as Java (native android), Arduino, Python, C, and C # for over 6 months. I have mastered the algorithm and syntax details in various projects.</p>
          </div>
          <ul class="social-list">
            <li>
              <a href="https://facebook.com/flysquaree" target="_blank">
                <i class="fa fa-facebook"></i>
              </a>
            </li>
            <li>
              <a href="http://github.com/flysquare" target="_blank">
                <i class="fa fa-github"></i>
              </a>
            </li>
            <li>
              <a href="https://instagram.com/fly.square" target="_blank">
                <i class="fa fa-instagram"></i>
              </a>
            </li>
            <li>
              <a href="https://linkedin.com/in/flysquare" target="_blank">
                <i class="fa fa-linkedin"></i>
              </a>
            </li>
            <li>
              <a href="https://iamumut.com" target="_blank">
                <i class="fa fa-globe"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
